@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 193, 194, 197;
  --background-rgb: 26, 27, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  .dark {
    --foreground-rgb: 193, 194, 197;
    --background-rgb: 26, 27, 30;
  }
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #25262B;
}

::-webkit-scrollbar-thumb {
  background: #373A40;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2C2E33;
} 